#global-navbar {
  border-bottom: 0;
  background-color: white;

  .navbar-brand {
    padding: 0;
  }

  .icon-logo {
    font-size: 55px;
    color: black;
  }

  .container {
    padding: 30px 60px;
  }

  a {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }

  li.active a {
    color: #949b91;
    background-color: transparent;
  }
}
