@import "compass";

#global-footer {
  margin: 40px 0;
  text-align: center;

  .external {
    font-size: 20px;
    margin-bottom: 10px;

    a {
      padding: 0 10px;
      @include transition(0.2s);

      &:hover, &:focus {
        color: #949b91;
      }
    }
  }

  address {
    color: #b4b5b4;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
  }
}
