#about {
  margin: 0 auto;
  max-width: 1100px;

  h2 {
    color: #1f2118;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.3px;
    font-family: 'Open Sans', sans-serif;
    color: #b4b5b4;
  }
}
