@import "compass";
@import "./commons/utils";

#home {
  &, .item, h2,
  [class^="col-"],
  .panel, .panel-body {
    margin :0;
    padding: 0;
  }

  [class^="col-"] a {
    float: left;
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: 99.9%;

    &.size-1,
    &.size-2 {
      width: 50%;

      @include respond-to(xs) {
        width: 100%;
      }
    }

    &.size-1 {
      padding-bottom: 50%;

      @include respond-to(xs) {
        padding-bottom: 99.9%;
      }
    }
  }

  .portfolio-item {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
    @include border-radius(0);
    @include background-size(cover);

    .panel-body {
      width: 100%;
      height: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      @include opacity(0);
      @include transition(0.2s);

      h2 {
        top: 50%;
        left: 50%;
        position: absolute;
        font-size: 25px;
        font-weight: 500;
        @include transform(translate(-50%, -50%));
      }

      &:hover {
        @include opacity(1);
      }
    }
  }
}
