#portfolio {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;

  [class^="col-"],
  .thumbnail {
    margin: 0;
    padding: 0;
  }

  .pager {
    top: 50%;
    width: 100%;
    position: absolute;
    z-index: 1;

    .next a {
      margin-right: -50px;
    }

    .previous a {
      margin-left: -50px;
    }
  }

  .thumbnail {
    border: 0;

    img {
      width: 100%;
    }
  }
}
