@import "compass";

#portfolio {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;

  [class^="col-"],
  .thumbnail {
    margin: 0;
    padding: 0;
  }

  .pager {
    top: 50%;
    width: 100%;
    position: absolute;
    z-index: 1;

    a {
      padding: 0;
      border: 0;
      font-size: 18px;
      color: rgba(153,156,152,1);
      background-color: transparent;
      @include transition(0.2s);

      &:hover {
        color: rgba(52,59,50,1);
      }
    }

    .next a {
      margin-right: -50px;
    }

    .previous a {
      margin-left: -50px;
    }
  }

  .thumbnail {
    border: 0;
    padding: 0 20px 0 0;

    img {
      width: 100%;
    }
  }
}
